@import 'bt';
@import 'aos';
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    &-offer {
        height: 100vh;
    }
    &__panel-info {
        display: flex;
        align-items: center;
        height: 85px;
        background-color: #fff;
    }
    &__contacts {
        display: flex;
        margin: 0 auto;
    }
    &__logo {
        padding-left: 50px;
    }
    &__contact-item {
        padding-left: 70px;
    }
    &__contact-link {
        color: $default;
    }
    &__panel-menu {
        background-color: #000;
    }
    &__panel-menu--top {
        background-color: rgba(#000, 0.7);
    }
    &-offer {
        background: url(../images/Backgrounds/offer-bg.jpg) no-repeat;
        background-size: cover;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 85px;
    }

    &__list-item {
        padding-right: 50px;
    }

    &__list-link {
        @extend %title-font;
        text-transform: uppercase;
        color: white;
    }
    &__list-link:hover {
        color: $accent;
        transition: all .3s ease;

    }
    &__list-link--active {
        color: $accent
    }

    &__burger-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.logo img {
    height: 55px;
    width: 55px;
}

.breadcrumbs {
    background: rgba(#DFDFDF, .1);
    padding: 14px 0;
    position: relative;
    z-index: 3;

    &__list {
        display: flex;
    }
    &__item::after {
        content: '/';
        color: $blue-white;
        margin-left: -4px;
        margin-right: 4px;
    }
    &__item:last-child::after {
        content: '';
    }
    &__link {
        font-size: 14px;
        color: $blue-white;
    }
}

.offer {
    &__title {
        @extend %title-font;
        font-size: 64px;
        line-height: 82px;
        color: $blue-white;
    }
    &__inner {
        height: 70vh;
        display: table-cell;
        vertical-align: middle;
    }
    &__subtitle {
        font-size: 24px;
        color: #F5F2F2;
        margin-top: 20px;
        padding-left: 45px;
        font-weight: 400;
        position: relative;
        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            background: url(../images/check.svg);
            top: 3px;
            left: 2px;
            width: 28px;
            height: 21px;
            background-size: cover;
        }
    }
    &__link {
        color: $accent;
        padding-left: 47px;
        display: block;
        margin-top: 12px;
    }
    &__button {
        margin-top: 80px;
    }
    &-arrow {
        margin-top: -10px;
        text-align: center;
        cursor: pointer;
    }
    &-arrow__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
}

.button {
    background-color: $accent;
    font-weight: 600;
    border: none;
    color: $title;
    border-radius: 5px;
    padding: 6px 12px;
    width: 212px;
    height: 45px;
    @extend %title-font;
    cursor: pointer;
}

.slider {
    height: 100vh;
    background-color: #000;
    position: relative;

    &__item--1 {
        background: url(../images/Backgrounds/slider-bg-1.jpg) no-repeat;
        background-size: cover;
    }
    &__item--2 {
        background: url(../images/Backgrounds/slider-bg-2.jpg) no-repeat;
        background-size: cover;
    }
    &__item--3 {
        background: url(../images/Backgrounds/slider-bg-3.jpg) no-repeat;
        background-size: cover;
    }
    &__item--4 {
        background: url(../images/Backgrounds/slider-bg-4.jpg) no-repeat;
        background-size: cover;
    }
    &__item--5 {
        background: url(../images/Backgrounds/slider-bg-5.jpg) no-repeat;
        background-size: cover;
    }

    &__item-inner {
        height: 100vh;
        display: table-cell;
        vertical-align: middle;
        max-width: 1061px;
    }
    &__title {
        @extend %title-font;
        font-size: 48px;
        line-height: 64px;
        color: $blue-white;
        text-transform: uppercase;
    }
    &__subtitle {
        @extend %title-font;
        font-size: 32px;
        line-height: 48px;
        color: $blue-white;
        text-transform: uppercase;
    }
    &__text {
        padding-top: 64px;
        font-size: 18px;
        color: $blue-white;
        max-width: 539px;
        & a {
            color: $accent;
        }
    }

    .slick {
        &-arrow {
            align-items: center;
            position: absolute;
            width: 300px;
            content: '';
            background: transparent;
            border: none;
            z-index: 999;
            font-size: 0;
            cursor: pointer;
        }
        &-next {
            bottom: 0;
            right: 0;
            height: 100vh;
        }
        &-prev  {
            bottom: 0;
            left: 0;
            height: 100vh;
        }

        &-dots {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 50px;
            left: 45%;

            li {
                margin: 0 15px;
            }
            button {
                background-color: $blue-white;
                border: none;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                padding: 0;
                font-size: 0;
            }
            li.slick-active {
                button {
                    background-color: $accent;
                }
            }
        }
    }
}

.advantages {
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        padding-top: 80px;
        margin-bottom: 60px;
        @extend %title-h3
    }
    &__item {
        text-align: center;
        img {
            display: inline;
            padding-top: 22px;
        }
        margin: 0 15px;
        background: $accent;
        background: linear-gradient(to top right, #ffb923 0%, #ffcc5e 100%);
        box-shadow: 6px 6px 25px -2px rgba(0, 0, 0, 0.53);
        border-radius: 10px;
        width: 350px;
    }
    &__icon-bg {
        display: inline-block;
        background-color: #fff;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-top: 50px;
    }
    &__item-title {
        color: $title;
        @extend %title-font;
        font-size: 24px;
        margin-top: 30px;
    }
    &__item-text {
        display: inline-block;
        margin-top: 50px;
        max-width: 290px;
        margin-bottom: 50px;
    }

}

.action {
    margin: 120px 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
        padding: 0 30px;
    }
    &__more-button {
        width: 287px;
        background:#ffd781;
        border: 2px solid #FFBE32;

    }
}

.footer {
    &__content {
        background-color: #DFDFDF;
        padding: 60px 0 60px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__logo img {
        display: inline;
    }
    &__info {
        width: 475px;
    }
    &__info-text {
        margin: 4px 0 32px;
    }
    &__form {
        display: flex;
        justify-content: space-between;
    }
    &__form-input {
        padding: 6px 10px 6px 18px;
        border-radius: 21px;
        background-color: transparent;
        border: 1px solid rgba($title, .7);
        width: 350px;
        &::placeholder {
            font-weight: 400;
	        font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 27px;
            color: #a1a1a1;
        }
    }
    &__form-button {
        background-color: $title;
        font-weight: 600;
        border: none;
        color: #FFFFF0;
        border-radius: 21px;
        padding: 6px 12px;
        min-width: 120px;
        cursor: pointer;
    }
    &__copyright {
        background-color: $title;
        color: #A1A1A1;
        text-align: center;
        padding: 42px 0;
    }
    &__social {
        width: 200px;
        margin-right: auto;
        margin-left: 100px;
    }
    &__social-title {
        color: $title;
        @extend %title-font;
        margin-bottom: 25px;
        line-height: 24px;
        font-size: 16px;
    }
    &__social-item {
        margin-bottom: 15px;
        padding-left: 28px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            width: 18px;
            height: 18px;
        }
    }
    &__social-link {
        color: $default;
        font-weight: 600;
        font-size: 14px;
    }
    &__social-item--vk::before {
        background-image: url(../images/social/vk-httpsicons8.ruiconssetvk.svg);
        background-size: contain;
    }
    &__social-item--tg::before {
        background-image: url(../images/social/telegram-httpsicons8.ruiconssettelegram.svg);
        background-size: contain;
    }
    &__social-item--wa::before {
        background-image: url(../images/social/whatsapp-httpsicons8.ruiconssetwhatsapp.svg);
        background-size: contain;
    }
    &__social-item--vb::before {
        background-image: url(../images/social/viber-httpsicons8.ruiconssetviber.svg);
        background-size: contain;
    }

    &__map {
        padding-left: 30px;
    }
}

.rightside-menu {
    position: absolute;
    right: 0;
    top: 170px;
    bottom: 0;
    min-width: 380px;
    background-color: rgba(#000, 0.7);
    transition: all .8s ease;

    &.rightside-menu--closed {
        transform: translateX(500%);
    }
    &__news {
        text-align: center;
        color: white;
        padding-top: 45px;
        @extend %title-font;
        font-size: 24px;
    }
    &__card {
        background-color: #A1A1A1;
        width: 290px;
        min-height: 355px;
        margin: 0 auto;
        border-radius: 10px;
        margin-top: 50px;
        padding: 0 25px;
        padding-bottom: 30px;
    }
    &__title {
        padding-top: 180px;
        @extend %title-font;
        color: #FFFFFF;
    }
    &__subtitle {
        padding-bottom: 10px;
    }
    &__learn-more-button {
        color: #FFFFFF;
        font-weight: 600;
    }
}

.blog-box {
    padding: 80px 0 80px 0;

    &__title {
        @extend %title-h3;
        margin-bottom: 60px;
    }
    &__items {
        display: flex;
        justify-content: center;
    }
    &__item {
        display: flex;
        flex-flow: column;
        margin: 0 30px;
    }
    &__img-link {
        background-color: #A1A1A1;
        margin-bottom: 20px;
    }
    &__img {
        width: 500px;
        height: 350px;
        object-fit: cover;
        object-position: top;
        border: 1px solid $default;
    }
    &__title-link {
        margin-top: 15px;
        color: $title;
        @extend %title-font;
        font-size: 24px;
        line-height: 38px;
        font-weight: 600;
    }
}

.preview {
    //height: 400px;
    -webkit-user-select: none;
    margin-top: -56px;
    //position: relative;

    &__title {
        @extend %title-font;
        color: $blue-white;
        font-size: 72px;
        line-height: 52px;
        text-align: center;
        padding: 150px 0;/*
        position: absolute;
        z-index: 2;*/
    }
}

.about {
    &__preview {
        background: url(../images/Backgrounds/about-bg.jpg) no-repeat;
        background-size: cover;
    }
}

.post {
    & .container {
        height: 100%;
    }
    &__list {
        margin-top: 110px;
    }
    &__list-title {
        @extend %title-font;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    &__list-link {
        color: $default;
        display:inline-block;
        width: 255px;
        padding-left: 30px;
        margin-bottom: 16px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-color: $accent;
            top: 6px;
            left: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
    }
    &__content-inner {
        display: flex;
        margin-top: 80px;
    }
    &__content-title {
        @extend %title-h3;
        font-size: 32px;
        text-align: center;
        margin-bottom: 60px;
    }
    &__content-image {
        display: inline-block;
        width: 100%;
        margin-bottom: 50px;

        img {
            width: 100%;
            max-height: 400px;
            object-fit: cover;
        }
    }
    &__content-text {
        margin-bottom: 80px;
    }
    &__content-text-item {
        text-indent: 25px;
    }

    &__related-posts-title {
        padding-top: 80px;
        margin-bottom: 60px;
        @extend %title-h3;
        font-size: 24px;
    }
}

.contacts {
    &__preview {
        background: url(../images/Backgrounds/contacts-bg.jpg) no-repeat;
        background-size: cover;
    }

    &__call {
        padding-top: 80px;
        margin-bottom: 60px;
        @extend %title-h3;
    }
    &__map-block {
        width: 100%;
        iframe {
            width: 100vw;
            height: 75vh;
        }
    }
    &__items {
        margin-top: -200px;
        margin-bottom: 80px;
        display: flex;
        justify-content: center;
        z-index: 999;
    }
    &__item {
        text-align: center;
        margin: 0 15px;
        background: $accent;
        background: linear-gradient(to top right, #ffb923 0%, #ffcc5e 100%);
        box-shadow: 6px 6px 25px -2px rgba(0, 0, 0, 0.53);
        border-radius: 10px;
        width: 350px;
    }
    &__icon-bg {
        display: inline-block;
        background-color: #fff;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-top: 50px;
        position: relative;
    }
    &__icon {
        display: inline;
        position: absolute;
        top: 29px;
        left: 29px;
        width: 64px;
        height: 64px;
    }
    &__item-title {
        color: $title;
        @extend %title-font;
        font-size: 24px;
        margin-top: 30px;
    }
    &__text-box {
        margin-top: 25px;
        margin-bottom: 40px;
    }
    &__item-text {
        display: inline-block;
        max-width: 290px;
    }
    &__item-text:first-child {
        margin-bottom: 40px;
    }
    &__item-link {
        color: $default;
    }
}

.services {
    &__preview {
        background: url(../images/Backgrounds/services-bg.jpg) no-repeat;
        background-size: cover;
    }

    &__title {
        padding-top: 80px;
        margin-bottom: 60px;
        @extend %title-h3;
    }
}

.blog {
    &__preview {
        background: url(../images/Backgrounds/blog-bg.jpg) no-repeat;
        background-size: cover;
        background-position: 0 30%;
        position: relative;
    }
    &__preview::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(#000, 0.52);
        top: 0;
        z-index: 0;
    }
    &__preview-title {
        position: relative;
        z-index: 2;
    }
}
